@import "tailwindcss";

html,
body {
    @apply h-full;
}

body {
    @apply flex flex-col bg-slate-800 text-white;
}

@utility container {
    margin-inline: auto;
    padding-inline: 24px;
    max-width: 64rem; /* 1024px */
}
